{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Hi! Thanks for clicking on this page. Honestly, I don't have much content for this page, but I appreciate
    you taking time to come here. And as a token of my appreciation, I want to give you the following link. Enjoy!
</p>

<address>
    <strong>Article: </strong>   
    <a href="https://www.huffingtonpost.com/entry/best-waffle-recipes_us_57bc3b4ee4b0b51733a5a1e5">The Waffle Recipes You Want And Need</a><br />
</address>

{% endblock %}
